{
 getclojure.algolia/algolia-app-id #config/env "ALGOLIA_APP_ID"
 getclojure.algolia/algolia-admin-api-key #config/env "ALGOLIA_ADMIN_API_KEY"
 getclojure.algolia/algolia-index #config/env "ALGOLIA_INDEX"
 getclojure.elastic/elastic-url #config/env "BONSAI_URL"
 getclojure.elastic/index-name #config/env "INDEX_NAME"
 getclojure.config/env #config/env "APP_ENV"
}
