export DB_URL="jdbc:postgresql://localhost:5432/getclojure?user=postgres&password=postgres"
export ALGOLIA_ADMIN_API_KEY="abc123"
export ALGOLIA_INDEX="index_name"
export ALGOLIA_APP_ID="APPID"
export APP_ENV="development"
export BONSAI_URL="https://foo:bar@foo-bar-baz.com:123"
export INDEX_NAME="getclojure"
