body {
  color: #999;
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
  font-family: Helvetica, sans-serif;
  width: 80%;
}

header {
  padding: 20px;
}

footer {
  padding: 20px;
  text-align: center;
}

header {
  padding-bottom: 20px;
}

section {
  padding: 10px 20px;
}

input[type="text"] {
  min-width: 100%;
  min-height: 100px;
  padding: 0 100px;
  background-image: url(../img/glass.svg), none;
  background-repeat: no-repeat;
  background-position: left;
  color: #d4d4d4;
}

input, input:focus {
  line-height: 60px;
  font-size: 48px;
  border: none;
  outline-size: 1px;
  outline-style: solid;
  outline-color: #d4d4d4;
}

input[id="search-box"] {
  display: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #444;
}

h1 {
  color: #5881d8;
}

header > p {
  color: #8fb4fe;
}

pre {
  margin: 2px;
  padding: 10px;
  font-size: 18px;
  overflow: auto;
}

.results {
  background-color: white;
  /* border-top: 1px solid #eee; */
  /* border-bottom: 1px solid #eee; */
}

.result {
  margin: 10px 0 !important;
  border-bottom: 1px solid #eee;
}

.result:last-child {
  margin: 10px 0 !important;
  border-bottom: none;
}

.result > .highlight:nth-child(1) {
  border-left: #0091d0 5px solid !important;
}

.result > .highlight:nth-child(2) {
  border-left: #78c157 5px solid !important;
}

.result > .highlight:nth-child(3) {
  border-left: #de06dd 5px solid !important;
}

#pagination {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.page_num {
  padding: 5px;
}

#content {
  margin-left: auto;
  margin-right: auto;
}

.love {
  color: #0091d0;
  font-weight: bold;
}