body {
  color: #999;
  background-color: #eee;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

header, footer {
  padding: 20px;
}

header {
  padding-bottom: 0;
}

section {
  padding: 10px 20px;
}

input[type="text"] {
  min-width: 400px;
  padding: 0 5px;
}

input {
  line-height: 32px;
  font-size: 20px;
}

.results {
  background-color: white;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #444;
}

h1 {
  color: #5881d8;
}

header > p {
  color: #8fb4fe;
}

pre {
  margin: 0;
  padding: 10px;
  border-left-width: 4px;
  border-left-style: solid;
  overflow: auto;
}

.result {
  margin: 10px 0;
}

pre.input {
  border-left-color: #5881d8;
}

pre.value {
  border-left-color: #8fb4fe;
}

pre.output {
  border-left-color: #91dc46;
}
